{% extends "layout.html" %}

{% block title %} Quipster {% endblock %}

{% block content %}
    <div class="w-full p-10">
        <div class="w-full flex items-center">
            <div>
                <h2 class="text-2xl text-[#223843] font-bold">Feeds</h2>
            </div>
            <div class="ml-auto flex items-center">
                <button aria-selected="true" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white aria-selected:bg-indigo-500 aria-selected:text-white rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                    Popular
                </button>
                <button aria-selected="false" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                    Latest
                </button>
            </div>
        </div>
    </div>
{% endblock %}