{% extends "layout.html" %}

{% block title %} Quipster {% endblock %}

{% block head %}
    <style>
        .active-btn {
            font-weight: bolder !important;
            color: rgb(38 38 38) !important;
        }
        .active-btn div {
            border-color: rgb(59 130 246);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="w-full max-w-3xl min-h-screen border-r">
        <div class="flex items-center">
            <div class="flex-1">
                <button class="active-btn flex items-center justify-center w-full h-[53px] text-[#536471] font-medium transition-colors hover:bg-gray-100">
                    <div class="flex items-center justify-center w-fit h-full border-b-4 border-transparent">
                        For you
                    </div>
                </button>
            </div>
            <div class="flex-1">
                <button class="w-full h-[53px] text-[#536471] font-medium transition-colors hover:bg-gray-100">
                    Following
                </button>
            </div>
        </div>
        <div class="flex w-full h-32 p-5 border-t">
            <div class="flex-none w-10">
                <div class="w-10 h-10 rounded-full">
                    <img class="w-full h-full object-cover rounded-full" src="https://pbs.twimg.com/profile_images/1561295006190665730/MoF9_wRm_400x400.jpg" alt="">
                </div>
            </div>
            <div class="flex-1">

            </div>
        </div>
    </div>
{% endblock %}